html, body{
  font-family: "Open Sans" !important;
  color: #444;
}
*{
  transition: .3s all ease-in-out;
}

.no-pad{
  padding: 0;
}
.site-title{
  /*position: absolute;*/
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  padding: 20px;
  /*margin: 0 10px;*/
  min-width: 30px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
}
.site-title a, .site-title a:hover, .site-title a:focus{
  text-decoration: none;
}


.img-large{
  width: 100%;
}


.thin{
  font-weight: 100 !important;
}

a, a:focus, a:active, a:hover{
  color: #444;
}

.card-product{
  float: left;
  text-align:center;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
  border-radius: 0px;
}
.card-product:hover{
  /*transition: 0.3s all;*/
  box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.2);
}
.card-product > a, .card-product > a:hover{
  text-decoration: none;
}
.prod-img{
  max-height: 325px;
  
}

.categories > *{
  margin: 0 20px;

}
.active a, .active a:hover{
  text-decoration: none;
}


.active {
    /*transition: .3s all;*/

    border-bottom: 2px solid grey;
}

#opencart{
  text-align:right;
  float:right;
  padding:0; margin: 0;
}
.header-cart{
  text-align: right;
  float:right;
  display: none;
  background : #ffffff;
  box-shadow:  0 5px 25px -10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top:-25px;
  position:absolute;
  right: 0;
  z-index: 999;
}
.header-cart.show{
  display: block;
}


.img-preview{
  width: 30px;
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}

img.media-object{
  max-width: 85px;
}

.bold{
  font-weight: bold;
}


/*LOADER */
.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
  top: 0;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}


.highlight {
  padding: 8px;
  background: rgb(238, 238, 238);
}


.btn-primary[disabled]{
    background: rgba(0,0,0,0.4);
}


.footer{
  margin-top:30px;
  background: rgba(0,0,0,0.05);
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding:20px;
  font-size: 12px;
  font-weight: 100;
}

.no-margin{
  margin-bottom:0;
}
