html, body{
  font-family: "Open Sans" !important;
  color: #444;
}
*{
  transition: .3s all ease-in-out;
}
.site-title{
  /*position: absolute;*/
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  padding: 20px;
  /*margin: 0 10px;*/
  min-width: 30px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
}
.site-title a, .site-title a:hover, .site-title a:focus{
  text-decoration: none;
}


.thin{
  font-weight: 100 !important;
}

a, a:focus, a:active, a:hover{
  color: #444;
}

.card-product{
  float: left;
  text-align:center;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/
  border-radius: 0px;
}
.card-product:hover{
  /*transition: 0.3s all;*/
  box-shadow: 0 5px 25px -10px rgba(0, 0, 0, 0.2);
}
.card-product > a, .card-product > a:hover{
  text-decoration: none;
}
.prod-img{
  width: 100%;
}

.categories > *{
  margin: 0 20px;

}
.active a, .active a:hover{
  text-decoration: none;
}


.active {
    /*transition: .3s all;*/
    font-weight:bolder !important;
    border-bottom: 3px solid grey;
}

#opencart{
  text-align:right;
}
.cart{
  text-align: right;
  float:right;
  display: none;
  background : #ffffff;
  box-shadow:  0 5px 25px -10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top:-40px;
  position:absolute;
  right: 0;
  z-index: 999;
}
.cart.show{
  display: block;
}
