<br>

<div class="footer">
  <div class="container">
    <div class="navbar col-lg-4 col-md-4 col-sm-4 col-xs-4 no-margin">
    <b>CATEGORIES</b>
    <ul class="list-unstyled no-margin" ng-controller="NavCtrl">
      <li ng-repeat="cat in categories" >
        <a href="#/category/{{cat.attributes.cat_id}}">
          {{cat.attributes.name | uppercase }}
        </a>
      </li>
    </ul>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
      <ul class="list-unstyled no-margin">
        <li><a href="#/account">View Account</a></li>
        <li><a href="#/about">About Us</a></li>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
      NOVIS Clothing Co.<br>
      123 No Vis Rd<br>
      New York, NY 10001<br>
      (212) 351 - 5599
    </div>



  </div><!-- container -->

  <br>
  <center>
    <p class="lead small no-margin">Copyright &copy; NOVIS</p>
  </center>
</div>
