<div class="text-center">
  <ul class="list-inline categories">
    <li ng-class="{active:isActive('/category/1')}"><a href="#/category/1">TOPS</a></li>
    <li ng-class="{active:isActive('/category/2')}"><a href="#/category/2">BOTTOMS</a></li>
    <li ng-class="{active:isActive('/category/3')}"><a href="#/category/3">SHOES</a></li>
    <li ng-class="{active:isActive('/category/4')}"><a href="#/category/4">ACCESSORIES</a></li>
  </ul>
</div>


<div id="opencart" class="btn">

  <ngcart-summary></ngcart-summary>
</div>



<a href="#/account" style="margin-top:24px; display:inline-block;">

<div ng-hide="currentUser">Account</div>
<div ng-show="currentUser">{{currentUser.attributes.username}}</div>
</a>


<hr style="clear: both;">

<div class="container-fluid" style="position:relative;">
<div class="header-cart">
     <ngcart-cart></ngcart-cart>
</div>
</div>




<script>
$(document).ready(function(){

  $('#opencart').click(function(){
    $('.header-cart').toggleClass("show");
  });

});
</script>
