<div class="card card-product col-lg-3 col-xs-12">
  <a href="#/product/{{item.id}}" >
    <div class="item item-text-wrap">

      <a href="#/product/{{item.id}}" ><img class="prod-img h3" src="{{item.attributes.image}}" /></a>
        <br>
        <a href="#/product/{{item.id}}" ><h4>{{item.attributes.title}}</h4></a>
          <h5 class="thin no-under">${{item.attributes.price}}</h5>
          <!--
            hiding add to cart button
          <ngcart-addtocart id="{{item.id}}" name="{{item.attributes.title}}" price="{{item.attributes.price}}" quantity="1" quantity-max="30" data="item">
            Add to Cart
          </ngcart-addtocart> -->

    </div>
</div>
