<style>
*, body, html{
  color: white !important;
}
.footer{
  display: none;
}
.links{
  display: none;
}
</style>

<!--
linear-gradient(rgba(191, 24, 189, 0.5), rgba(231, 158, 98, 0)) , url(http://i.imgur.com/l2Nrfmr.jpg);
-->
<div class="full" style="

background: linear-gradient(rgba(41, 24, 191, 0.5), rgba(231, 158, 98, 0)) , url(http://i.imgur.com/l2Nrfmr.jpg);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;

">
</div>
<div class="col-lg-8 col-lg-offset-2" style="color: #000;">





  <center>
    <h2 style="font-family: 'Helvetica Neue',Helvetica; font-weight: 100;">Fashion's finest store</h2>

    <br>
  <b><p>New York City, 2015</p></b>
  <br>

  <p class="lead" style="font-size: 100%;">From the beginning, NOVIS has spoken to the woman who wants the best of the season: the dress, the bag, the blazer, the jacket, and more. Each month, our customers can shop over 100 items straight from the pages of our website.

  NOVIS is a place for many famous designers to feature their beautiful collections every season. NOVIS offers elegant, modern and fashionable clothing with satisfaction guarantee. To bring this vision to life, our style editors have selected the best pieces from our designers' collection for our online store. We hand-picked each item and send it to our customers all over the world.

  Now, with the launch of NOVIS.com, it's all just one click away from her closet.
</p>

</center>
</div>
