<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>


<h3><center>Order Details</center></h3><br>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0" id="checkout">

    <table class="table table-striped ngCart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td><tb><b>{{ ngCart.totalCost() | currency }}</b></td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td><a href="#/product/{{item.getData()['id']}}">
              <img src="{{ item.getData()['image'] }}" class="cart-img">{{item.getName()}}
            </a></td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>


        <tr><td></td><td></td><td></td>
          <td>Shipping Method:</td>
          <td><select ng-model="shippingMethod" ng-change="updateShipping(shippingMethod)" required ng-options="method as method.shippingOption for method in shippingmethods"></select>
            <span class="text-danger bold" style="position:absolute;" ng-show="!shippingMethod">&nbsp;Select service</span>
          </td>

        </tr>

        <!-- <tr ng-show="shippingMethod.price"><td></td><td></td><td></td><td></td>
          <td style="font-weight:bold;">+ ${{shippingMethod.price}}</td></tr> -->
        </tbody>
    </table>
</div>





<!-- shipping -->
<div class="container-fluid">
<br><h3><center>Shipping Address</center></h3><br>
<form class="form-horizontal row" name="addressform" role="form">
<div class="col-md-4 col-md-offset-2">

      <fieldset>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Name</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Name" ng-model="shipping.name" required class="form-control" >
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Line 1</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 1" ng-model="shipping.add1" required class="form-control" >
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Line 2</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 2" ng-model="shipping.add2" class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">City</label>
          <div class="col-sm-10">
            <input type="text" placeholder="City" ng-model="shipping.city" required class="form-control">
          </div>
        </div>

      </fieldset>
  </div>
  <div class="col-md-4 form-horizontal">

      <fieldset>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">State</label>
          <div class="col-sm-4">
            <input type="text" placeholder="State" ng-model="shipping.state" required class="form-control">
          </div>

          <label class="col-sm-2 control-label" for="textinput">Zipcode</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Post Code" ng-model="shipping.zip" required class="form-control">
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Country</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Country" ng-model="shipping.country" required class="form-control">
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Phone</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Phone" ng-model="shipping.phone" class="form-control">
          </div>
        </div>


        <div class="checkbox" ng-show="currentUser.attributes.isEmployee">
          <label>
            <input type="checkbox" ng-model="phone"> Phone Order
          </label>
        </div>


        </div>

      </fieldset>

  </div><!-- /.col-lg-12 -->
</form>
<!-- shipping -->
</div>

<br>
<center><p><input type="checkbox" ng-model="sameAddress"> Same billing address?</input>
</p></center>
<br>


<div class="container-fluid">
<br><h3><center>Billing Address</center></h3><br>
<form class="form-horizontal row" name="billingform" role="form">
<div class="col-md-4 col-md-offset-2">

      <fieldset>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Name</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Name" ng-model="billing.name" required class="form-control" >
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Line 1</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 1" ng-model="billing.add1" required class="form-control" >
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Line 2</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Address Line 2" ng-model="billing.add2" class="form-control">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">City</label>
          <div class="col-sm-10">
            <input type="text" placeholder="City" ng-model="billing.city" required class="form-control">
          </div>
        </div>

      </fieldset>
  </div>
  <div class="col-md-4 form-horizontal">

      <fieldset>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">State</label>
          <div class="col-sm-4">
            <input type="text" placeholder="State" ng-model="billing.state" required class="form-control">
          </div>

          <label class="col-sm-2 control-label" for="textinput">Zipcode</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Post Code" ng-model="billing.zip" required class="form-control">
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Country</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Country" ng-model="billing.country" required class="form-control">
          </div>
        </div>



        <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Phone</label>
          <div class="col-sm-10">
            <input type="text" placeholder="Phone" ng-model="billing.phone" class="form-control">
          </div>
        </div>

      </fieldset>


  </div><!-- /.col-lg-12 -->
</form>
<!-- billing -->
</div>




<div class="col-md-8 col-md-offset-2">
  <button id="customButton" class="pull-right btn btn-primary" ng-show="ngCart.getTotalItems() > 0" ng-disabled="addressform.$invalid || !shippingMethod || billingform.$invalid">Purchase</button>
</div>


<br><br><br><br><br><br><br><br>

<script>
  var handler = StripeCheckout.configure({
    key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
    image: 'http://i.imgur.com/wdlW2V7.jpg',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`


      angular.element( $('#checkout') ).scope().afunc();

    }
  });

  $('#customButton').on('click', function(e) {

    // Open Checkout with further options
    handler.open({
      name: 'NOVIS',
      // description: angular.element( $('#checkout') ).scope().items,
      amount: angular.element( $('#checkout') ).scope().ngCart.totalCost() * 100
    });
    e.preventDefault();
  });

</script>
