<a href="#/account" class="small">< Back to all orders</a>

<div class="alert alert-success" role="alert" ng-show="thanks">
    Thanks for shopping! We've successfully received your order
</div>




<div class="container col-lg-8 col-lg-offset-2">
	<div class="row clearfix">

			<div class="">
				<h1 class="highlight">
					{{order.attributes.status}} Order<small>&mdash; {{order.createdAt | date: short}}</small>
				</h1>
			</div>

      <br>
      <div class="row container-fluid"  ng-repeat="o in orderItems">
			<div class="media">
    		 <a href="#" class="pull-left"><img src="{{o.product.attributes.image}}" class="media-object" alt='' /></a>
				<div class="media-body">
					<h4 class="media-heading">
						{{o.product.attributes.title}}
            <small>&ndash; {{o.size}}</small>
					</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
          <p class="bold">${{o.product.attributes.price}}</p>
				</div>
      <br><hr style="width: 100%; margin-top: 40px; margin-bottom: 40px; ">
			</div> <!-- end media object -->
      </div>


      <!-- shipping section -->
      <div class="row container-fluid">
        <h4 class="highlight">Shipping</h4>
        <p><b>Shipping Method: </b> {{order.attributes.ship_method}} - ${{order.attributes.ship_cost}}</p>
      </div>
      <div class="row col-lg-6" ng-show="order.attributes.ship_add1">
        {{order.attributes.ship_add1}} <span ng-hide="order.attributes.ship_add2 == '' ">- {{order.attributes.ship_add2}}</span><br>
        {{order.attributes.ship_city}}, {{order.attributes.ship_state}}<br>
        {{order.attributes.ship_country}}
      </div>


	</div>
</div>
