<div class="container">

<br><br>
<div ng-hide="currentUser">

   <form ng-show="scenario == 'Sign up'" class="form-horizontal signup-form">

     <div class="form-group">
     <label for="email" class="col-sm-3 control-label" >Email: </label>
     <div class="col-sm-6">
       <input type="email" id="email" class="form-control" ng-model="user.email" placeholder="Email" />
     </div>
    </div>

    <div class="form-group">
     <label for="username" class="col-sm-3 control-label" >Username: </label>
     <div class="col-sm-6">
       <input type="text" ng-model="user.username" id="username" class="form-control" placeholder="Username"/>
     </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-3 control-label" >Password: </label>
      <div class="col-sm-6">
        <input type="password" ng-model="user.password" id="password" class="form-control" placeholder="Password" />
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-block btn-success form-control" ng-click="signUp(user)">Sign up</button>
      </div>
    </div>

     <div class="form-group">
       <div class="col-sm-6 col-sm-offset-3 text-center">
         <a  href ng-click='scenario="Log in"'>- OR LOG IN - </a>
       </div>
     </div>

   </form>

   <form ng-show="scenario == 'Log in'" name="loginForm" class="form-horizontal login-form">

     <div class="form-group">
      <label for="username" class="col-sm-3 control-label" >Username: </label>
      <div class="col-sm-6">
        <input type="text" ng-model="user.username" id="username" class="form-control" placeholder="Username"/>
      </div>
     </div>


     <div class="form-group">
       <label for="password" class="col-sm-3 control-label" >Password: </label>
       <div class="col-sm-6">
         <input type="password" ng-model="user.password" id="password" class="form-control" placeholder="Password"/>
       </div>
     </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-block btn-success form-control" ng-click="logIn(user)">Log in</button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <a href ng-click='scenario="Sign up"'>- OR SIGN UP -</a>
      </div>
    </div>


   </form>
 </div>



 <div ng-show="currentUser">
   <div>
     <p>Welcome, {{currentUser.get('username')}}<span class="text-danger" ng-show="currentUser.attributes.isEmployee"> (Employee Mode)</span>.
       <span class="badge" style="cursor: pointer;"><span class="danger glyphicon glyphicon-remove" ng-click="logOut(user)"></span></span>
     </p>
   </div>
   <br>

   <ul id="myTab" class="nav nav-tabs col-lg-10 col-lg-offset-1" role="tablist">
         <li role="presentation" class="active"><a href="#orders" id="home-tab" role="tab" data-toggle="tab" aria-controls="orders" aria-expanded="true">Orders</a></li>
         <li role="presentation" ng-show="currentUser.attributes.isEmployee"><a href="#inventory" role="tab" id="inventory-tab" data-toggle="tab" aria-controls="inventory">Inventory</a></li>
   </ul>



   <div id="myTabContent" class="tab-content col-lg-10 col-lg-offset-1">
         <div role="tabpanel" class="tab-pane fade in active" id="orders" aria-labelledby="orders-tab">

           <br><div ng-hide='orders.length > 0'><p>No orders yet. Start shopping!</p></div>
           <!-- user orders -->
           <table class="table table-hover" ng-show='orders.length > 0'>
             <thead>
               <th>Date</th>
               <th>Total Paid</th>
               <th>Status</th>
               <th>View</th>
               <th ng-show="currentUser.attributes.isEmployee">Order ID</th>
             </thead>
             <tbody>
               <tr ng-repeat="orderInfo in orders" ng-class="{
                 warning: orderInfo.attributes.status=='Pending',
                 success: orderInfo.attributes.status=='Completed',
                 info: orderInfo.attributes.status=='Shipped',
                 danger: orderInfo.attributes.status=='Canceled',
               }" id="{{orderInfo.id}}">
                 <a href="#">
                 <td>{{orderInfo.createdAt | date : short}}</td>

                 <td>${{orderInfo.attributes.total}}</td>

                 <!-- if not employee, just show status-->
                 <td ng-hide="currentUser.attributes.isEmployee">{{orderInfo.attributes.status}}</td>

                 <td ng-show="currentUser.attributes.isEmployee">
                   <select ng-model="orderInfo.attributes.status" ng-change="changeOrderStatus(orderInfo.id, orderInfo.attributes.status)">
                     <option value="Pending">Pending</option>
                     <option value="Shipped">Shipped</option>
                     <option value="Completed">Completed</option>
                     <option value="Canceled">Canceled</option>
                   </select>
                 </td>

                 <td><a href="#/complete/{{orderInfo.id}}">Details</a></td>

                 <td ng-show="currentUser.attributes.isEmployee">
                   <!-- show phone icon if it's a phone order -->
                   <span class="glyphicon glyphicon-earphone" ng-show="orderInfo.attributes.phone_order"></span>
                   {{orderInfo.id}}
                 </td>
               </a>
               </tr>

             </tbody>
           </table>
         </div>


         <div role="tabpanel" class="tab-pane fade" id="inventory" aria-labelledby="inventory-tab">

              <table class="table" >
                <thead>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Color</th>
                </thead>
                <tbody ng-repeat="prod in INVREPORT" class="clickable inv-row row-{{$index}}" >
                  <tr class="prod-row">
                    <td><img src="{{prod.attributes.image}}" height="40px"></td>
                    <td><b>{{prod.attributes.title}}</b> - {{prod.attributes.desc }}</td>
                    <td>${{prod.attributes.price}}</td>
                    <td>{{prod.attributes.color}}</td>
                  </tr>

                    <!-- sub rows -->
                    <tr ng-show="prod.sizes.length > 0" class="sub-row-{{$index}}" style="display:none;">
                      <th></th>
                      <th></th>
                      <th>SIZE</th>
                      <th>QTY.</th>
                    </tr>
                    <tr ng-hide="prod.sizes.length > 0" style="display:none"><td colspan="5"><center><b>NO SIZES AVAILABLE</b></center></td></tr>
                    <tr ng-repeat="s in prod.sizes" ng-show="prod.sizes.length > 0" style="display:none;">
                      <td></td>
                      <td></td>
                      <td>{{s.attributes.size}}</td>
                      <td>{{s.quantity}}</td>
                    </tr>

                    <!-- /sub rows -->

                </tbody>
              </table>

            </div>

   </div> <!-- tab content -->




</div>


<script>
$(document).ready(function(){




});
</script>
