<div class="container">

<br><br>
<div ng-hide="currentUser">

   <form ng-show="scenario == 'Sign up'" class="form-horizontal">

     <div class="form-group">
     <label for="email" class="col-sm-3 control-label" >Email: </label>
     <div class="col-sm-6">
       <input type="email" id="email" class="form-control" ng-model="user.email" placeholder="Email" />
     </div>
    </div>

    <div class="form-group">
     <label for="username" class="col-sm-3 control-label" >Username: </label>
     <div class="col-sm-6">
       <input type="text" ng-model="user.username" id="username" class="form-control" placeholder="Username"/>
     </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-3 control-label" >Password: </label>
      <div class="col-sm-6">
        <input type="password" ng-model="user.password" id="password" class="form-control" placeholder="Password" />
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-block btn-success form-control" ng-click="signUp(user)">Sign up</button>
      </div>
    </div>

     <div class="form-group">
       <div class="col-sm-6 col-sm-offset-3 text-center">
         <a  href ng-click='scenario="Log in"'>- OR LOG IN - </a>
       </div>
     </div>

   </form>

   <form ng-show="scenario == 'Log in'" name="loginForm" class="form-horizontal">

     <div class="form-group">
      <label for="username" class="col-sm-3 control-label" >Username: </label>
      <div class="col-sm-6">
        <input type="text" ng-model="user.username" id="username" class="form-control" placeholder="Username"/>
      </div>
     </div>


     <div class="form-group">
       <label for="password" class="col-sm-3 control-label" >Password: </label>
       <div class="col-sm-6">
         <input type="password" ng-model="user.password" id="password" class="form-control" placeholder="Password"/>
       </div>
     </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-block btn-success form-control" ng-click="logIn(user)">Log in</button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <a href ng-click='scenario="Sign up"'>- OR SIGN UP -</a>
      </div>
    </div>


   </form>
 </div>



 <div ng-show="currentUser">
   <div>
     <p>Welcome, {{currentUser.get('username')}}.
       <span class="badge" style="cursor: pointer;"><span class="danger glyphicon glyphicon-remove" ng-click="logOut(user)"></span></span>
     </p>
   </div>

    <!-- user orders -->
    <div class="col-lg-6 col-lg-offset-3">
    <table class="table table-hover">
      <thead>
        <th>Date</th>
        <th>Total Paid</th>
        <th>Status</th>
        <th>View</th>
      </thead>
      <tbody>
        <tr ng-repeat="orderInfo in orders" ng-class="{
          warning: orderInfo.attributes.status=='Pending',
          success: orderInfo.attributes.status=='Completed',
        }" >
          <a href="#">
          <td>{{orderInfo.createdAt | date : short}}</td>

          <td>${{orderInfo.attributes.total}}</td>
          <td>{{orderInfo.attributes.status}}</td>
          <td><a href="#/complete/{{orderInfo.id}}">Details</a></td>
        </a>
        </tr>

      </tbody>
    </table>
    </div>


</div>
