<h2>{{item.title}}</h2>

<div class="row clearfix">
	<div class="col-md-3 column">

    <div nov-image></div>

	</div>
	<div class="col-md-9 column">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Description
				</h3>
			</div>
			<div class="panel-body">
        <div ng-show="sizes.length > 0">
          <b>Size :</b>

          <!-- hide if no sizes -->
          <select  class="item item-select" style="display: inline;" ng-model="sz"
					ng-options="size.attributes.size for size in sizes"
					ng-change = "updateSize(sz)"
					 >
            <!-- <option ng-repeat="size in sizes">
              {{size | uppercase}}
            </option> -->
          </select>
          <br><br>
          <ngcart-addtocart ng-show="product.size" id="{{inv_id}}"  name="{{item.title}} sz {{size_name|limitTo: 1}}" price="{{item.price}}" quantity="1" quantity-max="{{product.size_qt}}" data="item">
            Add to Cart
          </ngcart-addtocart>
					<p class="small" ng-hide="currentUser"><a href="#/account">Log in</a> to add to cart.</p>

        </div>
				<!-- {{inv_id}}
				{{size_name}} -->

        <p ng-show="sizes.length < 1" class="text-muted">NO SIZES AVAILABLE</p>

        <br><br>
				{{item.desc}}
			</div>
			<div class="panel-footer">
				Panel footer
			</div>
		</div>
	</div>
</div>


<br><br><h4>Related Items</h4><hr>
<div ng-repeat="item in related_items" ><product-card> </product-card>
</div>
