<div ncy-breadcrumb></div>



  <h2>{{product.title}}</h2>

	<div class="row clearfix">
		<div class="col-md-4 column">


      <img src="{{product.image}}" class="thumbnail"/>
		</div>
		<div class="col-md-8 column">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Description
					</h3>
				</div>
				<div class="panel-body">
          <b>Size :</b>
          <select class="item item-select" style="display: inline;">
            <option ng-repeat="size in sizes">
              {{size.attributes.size | uppercase}}
            </option>
          </select>
          <br><br>
          <button class="btn btn-lg btn-info">
            Add to Cart
          </button>
          {{item.id}}
          <ngcart-addtocart id="{{item.id}}" name="{{item.title}}" price="{{item.price}}" quantity="1" quantity-max="30" data="item"></ngcart-addtocart>

          <br><br>
					{{product.desc}}
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
	</div>





  <h3>Cart (ngcart-cart)</h3>
     <ngcart-cart> </ngcart-cart>
